@import '~react-virtualized/styles.css';
@import '~milligram/dist/milligram.min.css';

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: calc(100% - 100px);
  padding: 50px 100px;
}

.ReactVirtualized__Table__sortableHeaderIcon {
  height: 1.6em;
  width: 1.6em;
}

.ReactVirtualized__Table__Grid {
  border-left: 1px solid;
}